@model Restaurant

@{
    ViewBag.Title = nameof(HomeController.Create);
}

<div>
    <h1>Create</h1>
    <div>
        <form method="post" asp-antiforgery="true">
            <div>
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" />
                <span asp-validation-for="@Model.Name"></span>
            </div>
            <div>
                <label asp-for="@Model.Cuisine"></label>
                <select asp-for="@Model.Cuisine" asp-items="@Html.GetEnumSelectList(typeof(CuisineType))"></select>
                <span asp-validation-for="@Model.Cuisine"></span>
            </div>
            <div>
                <input type="submit" value="Create!" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="@nameof(HomeController.Index)">Back to home</a>
</div>

@section scripts {
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}