@model Restaurant

@{
    ViewBag.Title = nameof(HomeController.Create);
}

<form class="form-horizontal" method="post" asp-antiforgery="true">
    <fieldset>
        <legend>Create</legend>
        <div class="form-group">
            <label asp-for="Name" class="col-sm-2 control-label"></label>
            <div class="col-sm-6">
                <input asp-for="Name" class="form-control">
            </div>
            <span asp-validation-for="@Model.Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Cuisine" class="col-sm-2 control-label"></label>
            <div class="col-sm-6">
                <select asp-for="@Model.Cuisine" asp-items="@Html.GetEnumSelectList(typeof(CuisineType))" class="form-control"></select>
            </div>
            <span asp-validation-for="@Model.Cuisine"></span>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </fieldset>
</form>

<div>
    <a asp-action="@nameof(HomeController.Index)">Back to home</a>
</div>

@section scripts {
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}