@model Restaurant

@{
    ViewBag.Title = $"{nameof(HomeController.Edit)} {Model.Name}";
}

<div>
    <h1>Editining: @Model.Name</h1>
    <div>
        <form method="post" asp-antiforgery="true">
            <div>
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" />
                <span asp-validation-for="@Model.Name"></span>
            </div>
            <div>
                <label asp-for="@Model.Cuisine"></label>
                <select asp-for="@Model.Cuisine" asp-items="@Html.GetEnumSelectList(typeof(CuisineType))"></select>
                <span asp-validation-for="@Model.Cuisine"></span>
            </div>
            <div>
                <input type="submit" value="Edit!" />
            </div>
        </form>
    </div>
</div>