@model OdeToFood.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<a asp-action="@nameof(HomeController.Create)">Create new restaurant</a>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>
                @restaurant.Name
            </td>
            <td>
                <a asp-action="@nameof(HomeController.Details)" asp-route-id="@restaurant.Id">Details</a>
                <a asp-action="@nameof(HomeController.Edit)" asp-route-id="@restaurant.Id">Edit</a>
            </td>
        </tr>
    }
</table>

@section footer {
    <p>@Model.CurrentMessage</p>
}